@CHARSET "UTF-8";

h1 {
    text-align: center;
    margin-top: 10px;
}

body {
    overflow-y: scroll;
}

#game {
    width: 342px;
    height: 470px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    padding-top: 55px;
}

.cell input {
    display: inline-block;
    float: left;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #ccc;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border: 0px;
}
